.main-head {
  margin: 20px 0;
  font-weight: 700;
  font-size: 2em;
}

.custom-container {
  width: 1200px;
  margin: 0 auto;
  max-width: 95%;
}

.light-txt {
  color:#7788A3;;
}

.bold-txt {
  color:#556789;
  font-weight: 500;
}

.btn-default {
  border: 1px solid #ddd !important;
}

.card-model {
  max-width: 350px !important;
}

.campaign-tabs {
  margin-bottom: 20px !important;
  .nav-link {
    cursor: pointer;
  }
  .nav-link.active {
    color: #83A515 !important;
    border-color: #83A515 !important;
    border-width: 0px 0px 3px 0px;
  }
}

.no-record-found {
  padding: 15px 20px;
  border: 1px solid #eee;
  font-size: 16px;
}

.pos-relative {
  position: relative;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  tr {
    background: #ffffff;
    padding: 0.35em;
    border: 1px solid #ececec;
    th {
      font-size: 1vw;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background: #f1f1f4;
      color: #556789;
      font-weight: 500;
    }
    td {
      .campaign-date {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: #556789;
      }
      .campaign-date-from-now {
        font-size: 12px;
        font-style: italic;
        color: #9ca2b7;
      }
      .campaign-details {
        display: inline-block;
        .campaign-img {
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 8px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .campaign-info {
          float: left;
          .campaign-name {
            font-size: 14px;
            color: #556789;
            line-height: 18px;
            font-weight: 500;
            text-align: left;
          }
          .campaign-region {
            font-size: 11px;
            color: #9ca2b7;
            text-align: left;
          }
        }
      }

      .icon-details {
        cursor: pointer;
        display: inline-block;
        margin-right: 20px;

        .icon-img {
          float: left;
          width: 18px;
          height: 18px;
          margin-right: 6px;
          margin-top: -6px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .icon-name {
        font-size: 12px;
        float: left;
        color: #556789;
        line-height: 16px;
        text-decoration: none;
        text-align: left;
      }

      .calender-img {
        width: 18px;
        height: 18px;
        position: absolute;
        top: -20px;
        left: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .calender-name {
        position: absolute;
        top: -15px;
        left: 35px;
        font-size: 12px;
        width: 100px;
      }
    }
    th,
    td {
      padding: 0.625em 1em;
    }
  }
}

.card-head {
  .header-img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .header-info {
    float: left;
    margin-top: 50px;
    .heading {
      font-weight: 500;
      text-transform: uppercase;
      line-height: 30px;
      color: #2B416C;;
    }
    .region {
      font-size: 12px;
      color: #9ca2b7;
    }
  }
}

.card-section {
  margin-top: 20px;
  .body-head {
    font-size: 20px;
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .card-table {
    box-shadow: none;
    font-size: 12px;
    border: none;
    tr {
      border: none;
      td {
        border: none;
        padding: 5px 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .react-datepicker-wrapper {
    width: 50px !important;
  }

  .react-datepicker__input-container input {
    width: 100% !important;
  }

  .calender-details {
    width: 50px;
  }

  .calender-name {
    display: none;
  }

  table {
    border: 0;
    box-shadow: none;
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      text-transform: uppercase;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
      width: 49%;
      margin: 5px 0.5%;
      float: left;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
        .icon-details {
          margin: 0 0 0 10px !important;
          .icon-img {
            margin-top: 0px !important;
            width: 15px !important;
            height: 15px !important;
          }
          .icon-name {
            margin-top: 3px !important;
          }
        }
      }
      td::before {
        content: attr(data-label);
        float: left;
        font-weight: 500;
        text-transform: uppercase;
        color: #556789;
      }

      td:last-child {
        border-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  table {
    tr {
      width: 100%;
    }
  }
}

.react-datepicker__input-container input {
  color: transparent;
  border: 0;
  outline: none !important;
  background: transparent;
  cursor: pointer;
}

.react-datepicker-wrapper {
  position: absolute;
  top: -20px;
  z-index: 100;
  width: 200px;
  left: 0;
}
